body {
  background-color: #d2e2e9;
}
.joke {
  padding: 1em;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 1.5em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #777;
  text-align: left;
}
h1 {
  color: #777;
  text-align: center;
}
.joke-btns {
  display: flex;
  justify-content: space-between;
}
.joke-btns button {
  font-size: 14px;
}
.not-funny {
  background: #db5858;
}
.not-funny:hover,
.not-funny:focus {
  background: #db5858;
}
